footer
    .container.d-md-flex.justify-content-md-between.mt-4.mb-4
        nav.nav.footer.d-flex.flex-column.align-items-center.flex-md-row.nav-footer
            a.nav-link(href="/nosotros") Nosotros
            a.nav-link(href="/viajes") Viajes
            a.nav-link(href="/testimoniales") Testimoniales    
        p.copyright.text-center.mb-0.mt-md-0 
           | Todos los derechos reservados 
           span= anioActual

